/*------------------Body------------------*/
.start-container {
    position: relative;
    top: -85px;
    display:grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
}
.standard-container {
    display:grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    background: rgb(157,235,255);
    background: linear-gradient(360deg, rgba(157,235,255,1) 45%, rgba(32,145,200,1) 100%);
    padding: 70px 0px 0px 0px;
}

body {
    margin: 0;    
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll; /* Show scrollbars */
    background-color:#333333;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background:#333333;
}
body::-webkit-scrollbar-thumb {
    background: #2091C8;
    border-radius: 5px;
}
body::-webkit-scrollbar-track {
    background: transparent;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 400;
}
h3 {
    font-weight: 400;
}

p {
    font-weight: 400;
    font-size: 18px;
}

#php-script {
    font-size:2em;
    color: #2091C8;
    text-align: center;
    padding:50px;
}


/*------------------Header------------------*/
header{
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 85px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: left;
    color: white;
    /*box-shadow: 0px 1px 1px #DAE8F4;*/
    transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out; 
    -o-transition: background-color .2s ease-in-out; 
}

nav {
    display: inline-block;
}

nav ul{
    font-weight: 500;
    display: inline-flex;
    padding-right: 10vw;
    align-items: baseline;
    list-style: none;
}

nav ul li{
    margin: 7.5px;
    padding-top: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 1px 2px rgba(49, 49, 49, 0.767);
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #2091C8;
    transition: 0.3s ease-in-out;
}

.icon {
    display:none;
}

.logo {
    cursor: pointer;
    padding-left: 10vw;
    padding-top: 10.5px;
    height: 60px;
}


/*------------------------------The overlay screen-----------------------*/
.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    right: 0;
    z-index: 9;
    top: 0;
    background-color:white;
    overflow: hidden;
    border-left: #2091C8 solid 1px;
    transition: 0.5s;
    opacity: 100%;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 150%;
    color: black;
    display: block;
    transition: 0.3s;
    margin-top:3vh;
  }

  .overlay a:hover {
      color: #2091C8;
      transition: 0.3s;
  }
/*------------------Footer------------------*/
footer {
    grid-column: 1/5;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 10vw;
}

footer hr {
    border: none;
    border-top: 3px solid #2091C8;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer h4 {
    font-weight: 300;
}

footer h3 {
    text-align: center;
    font-weight: 200;
}

/*----------------General button properties-------------------*/
button, .submission-button {
    /*background: rgb(94, 223, 255);
    background: linear-gradient(75deg, rgb(41, 192, 230) 0%, rgba(32,145,200,1) 35%);*/
    background-color: rgba(32,145,200,1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 5px grey;
}

button:hover,.submission-button:hover {
    background-color: #006ea5;
    box-shadow: none;
    transition: 0.3s;
}

button:active, .submission-button:active {
    background: #006597;
    box-shadow: none;
    transition: 0s;
}

/*----------------General form properties-------------------*/
form {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    gap: 4vmax 5vmax;
}

input {
    width: 95%;
    font-size: 20px;
    border:none;
    border-bottom: 4px solid #2091C8;
    padding:1%;
}

textarea {
    width: 99%;
    background-color: #F4F4F4;
    height: 200px;
    resize: none;
    border:none;
    border: 2px solid #2091C8;
    border-radius: 5px;
    font-size: 18px;
}
/*------------------First-page content------------------*/
.welcoming-picture {
    grid-column: 1/5;
    overflow: auto;
    height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.35)), url("images/welcome_background.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.85fr 0.15fr;
    border-radius: 0px 0px 5px 5px;
}

.welcoming-picture h3 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.scroller {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    display: inline-block;
}

.heading {
    padding: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
    grid-column: 1/4;
    grid-row: 1;
    color: white;
}

.about-evt {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    background-color: white;
    padding: 30px 10vw 30px 10vw;
    min-height: 350px;
}

.about-evt-col-1 {
    padding-top: 15px;
    padding-right: 50px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px 0px 0px 5px;
}

.about-evt-col-2 {
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 0px 5px 5px 0px;
}

/*.about-evt::-webkit-scrollbar {
    justify-self: center;
}

.slide{
    width: 80vw;
    flex-shrink: 0;
    display: grid;
    padding-left: 10vw;
    padding-right: 10vw;
    grid-template-columns: 0.6fr 0.3fr 0.1fr;
    grid-template-rows: 0.4fr 0.33fr 0.33fr;
}

.slide-text {    
    grid-column: 1;
    grid-row: 1/4;
    text-justify:auto;
    padding:70px;
    border-radius: 20px;
}

.about-evt-image {
    height: 100%;
    width: auto;
    background-size:cover;
    background-position: center;
    float: right;
    border-radius: 5px;
}*/

.button-div {
    text-align: center;
}

.services-button {
    margin-top:35px;
    padding: 10px;
    width: 10em;
    transition: 0.3s;
}

.news-heading {
    grid-column: 1/5;
    background-color: #F4F4F4;
    padding:20px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.news {
    grid-column: 1/5;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: center;
    gap: 10vw;
    padding-bottom:20px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.news hr {
    border-top: 3px solid #2091C8;
}

.news ul {
    list-style-type: none;
    padding-left: 0;
    flex-basis: 25%;
    flex-grow: 0;
}

/*------------------------Services-page content-------------------*/
.about-services {
    grid-column: 1/5;
    padding-bottom: 70px;
    padding-left: 10vw;
    padding-right: 10vw;
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.about-services h3 {
    font-weight: 400;
}

/*.services.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
    padding-right: 10vw;
    padding-left: 10vw;
}

.to-requests {
    grid-column: 1;
    padding: 10px;
    margin: 50px 50px 50px 50px;
}

.to-references {
    grid-column: 2;
    padding: 10px;
    margin: 50px 50px 50px 50px;
}*/

.services.buttons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.to-requests {
    padding: 10px;
    width: 100%;
}

.to-references {
    padding: 10px;
    width: 100%;
}

.all-services {
    grid-column: 1/5;
    background-color: #ffff;
    border-radius: 20px 20px 0px 0px;
    padding: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.all-services h2 {
    text-align: center;
    padding-bottom: 5vh;
}

.service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.service {
    background-color: rgba(32,145,200,1);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.service h3 {
    background-color: #DAE8F4;
    border-radius: 5px;
    padding:20px;
    box-shadow: 0px 0px 5px grey;
    min-height: 50px;
}

/*.all-services ul {
    border-radius: 5px;
    background-color: #2091C8;
    box-shadow: 0px 0px 10px grey;
    list-style-type: none;
    padding-left: 0;
    padding:10px;
    margin-left: 100px;
    margin-right: 100px;
}

.all-services li {
    border-radius: 5px;
    margin:20px;
}

.all-services li h3 {
    font-weight: 400;
    text-align: left;
    background-color: #DAE8F4;
    box-shadow: 0px 0px 10px grey;
    padding: 15px 20px 15px 20px;
    border-radius:5px;
}*/

/*------------------------Contact-page content-------------------*/
.contact-heading {
    grid-column: 1/5;
    padding-bottom: 70px;
    padding-left: 10vw;
    padding-right: 10vw;
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.contact-form{
    grid-column: 1/5;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 20vw;
    padding-right: 20vw;
    background-color: #ffff;
    border-radius: 20px 20px 0px 0px;
}

.name-input {
    grid-column: 1/3;
}

.mail-input {
    grid-column: 3/5;
}

.message-input {
    grid-column: 1/5;
}

.submission-button {
    grid-column: 1/5;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.locations {
    grid-column: 1/5;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: center;
    gap: 10vw;
    padding: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.locations hr {
    border-top: 3px solid #2091C8;
}

.locations h4 {
    font-weight: 300;
}
.locations ul {
    list-style-type: none;
    padding-left: 0;
    flex-basis: 25%;
    flex-grow: 0;
}

.contact-table{
    grid-column: 1/5;
    padding:5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: white;
    
}

/*Contact-table properties*/
.contact-table table {
    width: 100%;
    text-align: left;
    border-radius: 5px;
    border-collapse: collapse;
}

.contact-table table td, table th {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-table table th {
    background-color: #2091C8;
    color: white;
    font-weight: 300;
}

.contact-table table th:first-child {
    border-top-left-radius: 10px;
}

.contact-table table th:last-child {
    border-top-right-radius: 10px;
}

.contact-table table tr:nth-child(even) {
    background-color: #F4F4F4;
}
.contact-table table tr:nth-child(odd) {
    background-color: #F4F4F4;
}

.contact-table table td:nth-child(2), .contact-table table td:nth-child(3), .contact-table table td:nth-child(4) {
    border-top: 1px solid #2091C8;
}

#first-row {
    border-top: 0px;
}

.contact-table table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.contact-table table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

/*------------------------References content-------------------*/
.references-heading {
    grid-column: 1/5;
    padding-bottom: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.references-heading h3 {
    font-weight: 400;
}

/*-Reference slider-*/
.reference-slide-container {
    grid-column: 1/5;
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    padding-top: 0vh;
}

.reference-slide-container {
    overflow:hidden;
}

.reference-slide {
    flex-shrink: 0;
    display: grid;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: 0.4fr 0.33fr 0.33fr;
}

.reference-slide-flex {
    grid-column: 2;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
}

.reference-slide-image-container{
    z-index: 2;
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
    height: 22vw;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #333333a2;
}

.reference-slide-image {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    background-size: contain;
}

.background {
    z-index: 1;
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    margin-left: 50px;
    grid-template-columns: 0.55fr 0.45fr;
    grid-template-rows: auto auto auto;
}

.reference-slide-text {
    overflow: auto;
    grid-column: 1;
    grid-row: 1/4;
    background-color:white;
    min-height: 27vw;
    margin-left: -80px;
    margin-top: -35px;
    border-radius: 5px;
    padding-right: 2vw;
} 

.reference-slide-text h2, .reference-slide-text p {
    padding-top: 10px;
    padding-bottom: 2vh;
    padding-left: 35px;
    padding-right: 90px;
}

.read-more{
    padding: 10px;
    width: 15vw;
    margin-left: 12.5vw;
    transition: 0.3s;
}

/*-Other references-*/
.other-references {
    grid-column: 1/5;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    padding: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 5vh;
}

.other-references h3 {
    font-weight: 400;
}

.small-reference-container {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    background-color: #DAE8F4;
    padding: 20px;
    border-radius: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
}

.small-reference-description {
    grid-column: 1;
    grid-row: 1;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow: auto;
}
.small-reference-description h3 {
    font-weight: 400;
}

.small-reference-details {
    grid-column: 2;
    grid-row: 1;
    background-color: #2091C8;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 5px 5px 5px 5px;
    color: white;
    box-shadow: -1px 0px 5px grey;
}

/*---------------------------Reference-page--------------------*/
.reference-heading {
    grid-column: 1/4;
    padding-bottom: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    color: white;
}

.reference-heading h3 {
    font-weight: 400;
}

.reference-text {
    grid-column: 1/4;
    padding: 5vh;
    padding-left: 10vw;
    padding-right: 20vw;
    text-align: left;
    background-color: white;
    border-radius: 20px 0px 0px 0px;
}

.reference-text h3 {
    font-weight: 600;
}

.reference-scroll-down {
    grid-column: 4;
    display: grid;
    padding-right: 10vw;
    padding-top: 50px;
    grid-template-rows: 0.3fr 0.3fr;
    justify-content: center;
    background-color: white;
    border-radius: 0px 20px 0px 0px;
}

.scroll-text {
    padding-top: 5vh;
    grid-row: 1;
    text-align: left;
    padding-left: 0;
}

.reference-image-slide {
    background-color: #F4F4F4;
    padding: 5vh;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: auto auto auto;
    
}

.slide-image-container {
    grid-column: 1/4;
    grid-row: 1/4;
    border-radius: 20px;
    width: auto;
    height: 80vh;
    overflow: hidden;
    background-color: #333333
}

.image-slide-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: 100%;
    object-fit: contain;
    transition: 1s;
    background-color: #333333;
}

.image-slide-description {
    position: relative;
    top: -10vh;
    padding:10px 40px 100px 40px;
    color: white;
    background-color: #00000049;
}

.button-arrow-right {
    grid-column: 3;
}

.button-arrow-left {
    grid-column: 1;  
}

.button-arrow-left, .button-arrow-right {
    z-index: 1;
    grid-row: 2;
    background: none;
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 0px 0px 0px;
    color: white;
    font-size: 12vh;
    transition: 0.3s;
    outline: 1px #333333;
}

.button-arrow-left:hover, .button-arrow-right:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #2091C8;
    transition: 0.3s;
}

.button-arrow-left:active, .button-arrow-right:active {
    box-shadow: 0px 0px 0px;
    color: #333333;
    transition: 0.3s;
}

/*-------------------------Work----------------------*/
.work-heading {
    grid-column: 1/5;
    padding-bottom:70px;
    padding-left: 10vw;
    padding-right: 10vw;
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.work-heading h3 {
    font-weight: 400;
}

.job-list {
    grid-column: 1/5;
    padding:5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    min-height: 50vh;
}

.job {
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
}

.job-title {
    border-radius: 10px 10px 0px 0px;
    padding:30px;
    text-align: left;
    font-size: 28px;
    color: #2091C8;
}

.content {
    box-shadow: 0px 0px 5px grey;
    overflow-y:auto;
    padding: 10px 30px 20px 30px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background:#333333;
}
.content::-webkit-scrollbar-thumb {
    background: #2091C8;
    border-radius: 5px;
}
.content::-webkit-scrollbar-track {
    background: transparent;
}

.job-requirements {
    display: flex;
    flex-flow: wrap;
    list-style:circle;
    padding-left:none;
    background-color:#DAE8F4;
    border-radius: 5px;
}

.job-requirements li {
    width: 200px;
    margin: 20px;
}

.job-merits {
    display: flex;
    flex-flow: wrap;
    list-style:circle;
    padding-left:none;
    background-color:#DAE8F4;
    border-radius: 5px;
}

.job-merits li {
    margin: 20px;
}

.apply_job {
    display: flex;
    justify-content: center;
    text-align: center;
}

.apply_job button{
    padding: 7.5px 25px 7.5px 25px;
}


/*----------------------------Arrows------------------------*/
.arrow-right {
    grid-column: 3;
    grid-row: 2;
    box-sizing: border-box;
    justify-self: center;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: #333333;
    border-width: 0px 9px 9px 0px;
    transform: rotate(315deg);
    transition: border-width 150ms ease-in-out;
    border-radius: 0px 0px 5px 0px;
}

.arrow-left {
    grid-column: 3;
    grid-row: 2;
    box-sizing: border-box;
    justify-self: center;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: #333333;
    border-width: 0px 9px 9px 0px;
    transform: rotate(135deg);
    transition: border-width 150ms ease-in-out;
    border-radius: 0px 0px 5px 0px;
}

.arrow-down {
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: white;
    border-width: 0px 9px 9px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    border-radius: 0px 0px 5px 0px;
}

.reference-arrow-left {
    z-index: 2;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    box-sizing: border-box;
    height: 4vw;
    width: 4vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 9px 9px 0px;
    transform: rotate(135deg);
    transition: border-width 150ms ease-in-out;
    border-radius: 0px 0px 5px 0px;
}

.reference-arrow-right {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    box-sizing: border-box;
    height: 4vw;
    width: 4vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 9px 9px 0px;
    transform: rotate(315deg);
    transition: border-width 150ms ease-in-out;
    border-radius: 0px 0px 5px 0px;
}

.reference-arrow-down {
    cursor: pointer;
    box-sizing: border-box;
    justify-self: center;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: black;
    border-width: 0px 9px 9px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    transition: 150ms;
    border-radius: 0px 0px 5px 0px;
}

.arrow-down:hover, .arrow-left:hover, .arrow-right:hover, .reference-arrow-left:hover, .reference-arrow-right:hover, 
    .reference-arrow-down:hover {
    border-bottom-width: 15px;
    border-right-width: 15px;
    border-color: #2091C8;
    transition: 150ms;
}

.arrow-left:hover, .arrow-right:hover {
    border-color: #2091C8;
}

.reference-arrow-left:hover, .reference-arrow-right:hover {
    border-color: #DAE8F4;
}

.arrow-down:active, .arrow-left:active, .arrow-right:active, .reference-arrow-left:active, .reference-arrow-right:active, 
    .reference-arrow-down:hover {
    border-bottom-width: 15px;
    border-right-width: 15px;
    border-color: #006ea5;
    transition: 150ms;
}

@media only screen and (max-width: 1280px) {
    .reference-slide-text {
        max-height:28vw;
    }
}

@media only screen and (max-width: 1100px) {
    .reference-slide-text {
        max-height:32vw;
    }
}

/*---------------------Mobile screen---------------------*/
@media only screen and (max-width: 1000px) {
    .standard-container, .start-container {
        display:grid;
        grid-template-columns: 100%;
        padding: 70px 0px 0px 0px;
    }

    .start-container {
        top: -150px;
    }
    
    /*------------Mobile Header-------------*/
    header {
        height: fit-content;
        height: 75px;
        padding: 0px 5vw;
        position: -webkit-sticky;
        position: sticky;
        display: block;
    }

    nav ul{
        display: none;
    }

    .logo {
        height: 65px;
        padding: 5px 0vw;
    }
    
    .icon {
        font-size: 40px;
        font-weight: 300;
        color: white;
        display: block;
        position: absolute;
        right: 5vw;
        top: 15px;
    }

    .icon:hover {
        color: #2091C8;
    }


    /*------------Mobile Footer-------------*/
    footer {
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }

    footer hr {
        width: auto;
        flex-basis: 25%;
        flex-grow: 0;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
    
    /*------------Mobile First Page----------------*/
    .welcoming-picture {
        display: grid;
        height: 100vh;
        grid-template-rows: auto 0.3fr;
        grid-template-columns: 1fr;
        border-radius: 0px 0px 5px 5px;
    }

    .heading {
        padding-top: 20vh;
        grid-column: 1;
        grid-row: 1;
        color: white;
    }

    .scroller {
        grid-column: 1;
    }

    .about-evt {
        display: grid;
        overflow-x: auto;
        background-color: white;
        padding: 30px 30px 30px 30px;
        scroll-behavior: smooth;
    }

    .about-evt-col-1 {
        grid-row: 1;
        border-radius: 5px 5px 0px 0px;
        padding-right: 0;
    }

    .about-evt-col-2 {
        grid-row: 2;
        border-radius: 0px 0px 5px 5px;
        padding-left: 0;
    }
    
    .slide{
        width: 80vw;
        flex-shrink: 0;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
    
    .slide-text {    
        grid-column: 1/3;
        grid-row: 1;
        text-justify:auto;
    }
    
    .button-div {
        grid-column: 1;
        grid-row: 2;
    }

    .services-button {
        margin-top:1em;
        padding:10px;
        width: 200px;
    }

    .news-heading {
        grid-column: 1;
        background-color: #F4F4F4;
    }
    
    .news {
        grid-column: 1;
        flex-direction: column;
        gap: 2vh;
    }

    /*---------------Mobile Service Page----------*/
    .about-services, .all-services {
        grid-column: 1;
    }
    
    .to-requests {
        grid-column: 1/3;
        margin: 0px 0px 0px 0px;
    }
    
    .to-references {
        grid-column: 1/3;
        margin: 0px 0px 0px 0px;
    }

    .service-grid {
        grid-template-columns: 1fr;
    }

    .all-services ul {
        padding-right: 0vw;
        padding-left:0vw;
    }
    
    .all-services li {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    /*---------------Mobile contact Page----------*/

    form {
        grid-template-columns: auto;
        gap: 2vh;
    }
    
    input {
        width: 95%;
    }
    
    textarea {
        margin-top:20px;
        width: 98%;
    }

    .contact-heading, .contact-form, .name-input,.mail-input, .message-input {
        grid-column: 1;
    }

    .contact-form {
        padding-left:10vw;
        padding-right: 10vw;
    }
    
    .submission-button {
        grid-column: 1;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .submission-button:hover {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .locations {
        flex-direction: column;
        gap: 2vh;
    }

    /*---------------Mobile references Page----------*/
    .references-heading {
        grid-column: 1;
        padding:0;
        padding-left: 10vw;
    }
    
    /*-Reference slider-*/
    .reference-slide-container {
        grid-column: 1;
    }
    
    .reference-slide {
        padding-top: 0;
        padding-bottom: 0;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .reference-slide-flex {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .reference-slide-image-container{
        grid-column: 1;
        grid-row: 2;
        height: 30vh;
        width: 70vw;
        margin-left: 5vw;
        margin-top: -2vh;
        box-shadow: 0px 0px 0px #33333386;
    }

    #slide1 {
        padding-left: 10vw;
    }
    
    #slide3 {
        padding-right:10vw;
    }

    .reference-slide-image {
        height: auto;
        width: 100%;
        background-position: center;
    }

    .background {
        z-index: 1;
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: auto;
        margin-left: 0;
    }

    .reference-slide-text {
        grid-column: 1;
        margin-left: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        min-height: 20em;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 4vw;
        padding-right: 5vw;
    } 

    .reference-slide-text h2, .reference-slide-text p {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .read-more{
        padding:10px;
        width: auto;
        margin-left: 0;
    }
    .read-more:hover {
        width: auto;
        margin-left: 0;
    }

    /*-Other references-*/
    .other-references {
        grid-column: 1;
    }

    .small-reference-container {
        transition: 0.5s;
        grid-template-columns: auto;
        margin-left: 0vw;
        margin-right: 0vw;
    }

    .small-reference-description {
        transition: 0.5s;
        grid-column: 1;
        grid-row: 1;
        height: fit-content;
        padding:2vw;
        padding-right: 4vw;
        padding-left: 4vw;
    }

    .small-reference-details {
        transition: 0.5s;
        padding: 0;
        grid-column: 1;
        grid-row: 2;
        border-radius: 5px 5px 5px 5px;
        background-color: #2091C8;
    }

    .small-reference-details h3 {
        padding:20px;
        background-color: #2091C8;
        border-radius: 5px;
    }

    /*--------------Mobile-Reference-page----------------*/
    .reference-heading {
        grid-column: 1;
    }

    .reference-text {
        grid-column: 1;
        border-radius: 20px 20px 0px 0px;
    }

    .reference-scroll-down {
        grid-column: 1;
        padding-right: 0;
        padding-bottom: 5vh;
        border-radius: 0px 0px 0px 0px;
    }

    .reference-image-slide {
        grid-column: 1;
        grid-template-columns: 0.1fr auto 0.1fr;
        padding:10px;
    }

    .slide-image-container {
        height: 40vh;
    }

    /*--------------------------Moible Work-------------------*/

    .job {
        padding: 0px 0px 0px 0px;
    }

    /*----------------------------Arrows------------------------*/
    .arrow-right {
        margin-top:20%;
        margin-right: 5%;
        justify-self: center;
        grid-column: 1/3;
        grid-row: 2;
        height: 50px;
        width: 50px;
    }

    .arrow-left {
        margin-top:10%;
        justify-self: center;
        grid-column: 1/3;
        grid-row: 2;
        height: 50px;
        width: 50px;
    }

    .reference-arrow-left {
        margin-top: 10%;
        margin-bottom: 2vh;
        margin-left: 5%;
        grid-column: 1;
        grid-row: 4;
        justify-self: center;
        height: 50px;
        width: 50px;
    }

    #reference-left-arrow-2 {
        display:none;
    }

    .reference-arrow-right {
        margin-top: 10%;
        margin-bottom: 2vh;
        margin-right: 5%;
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        height: 50px;
        width: 50px;
    }
}